<html>
  <head>
    <title>Twigs Data Dictionary: <%= @schema[:title] %></title>
    <link rel="stylesheet" href="/styles.css"></link>
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <h1><a href="/">twigs</a> <span class="fake-link"> / <%= page_title %> /</span> <%= @schema[:title].gsub("twigs/", "") %></h1>
    <p><%= @schema[:description] %></p>

    <section>
      <h2>Fields</h2>
      <table id="fields-list">
        <thead>
          <tr>
            <th class="name-col">Name</th>
            <th class="type-col">Type</th>
            <th class="desc-col">Description</th>
          </tr>
        </thead>
        <tbody>
          <% @schema[:fields].each do |title, field| %>
            <%= erb :row, :locals => {:title => title, :field => field, :nesting => 0, :nester => title} %>
          <% end %>
      </table>
    </section>

    <% if @schema[:relationships] && @schema[:relationships].length > 0 %>
    <section>
      <h2>Relationships</h2>
      <table id="relationships-list">
        <thead>
          <tr>
            <th class="name-col">Relationship Name</th>
            <th class="type-col">Target Type</th>
          </tr>
        </thead>
        <tbody>
          <% @schema[:relationships].each do |title, targets| %>
            <tr><td class="name-col"><%= title %></td><td class="desc-col"><%= targets.join(", ") %></td></tr>
          <% end %>
        </tbody>
      </table>
    </section>
    <% end %>

    <% if @schema[:samples] && @schema[:samples].length > 0 %>
    <section>
      <h2>Samples</h2>
      <table id="samples-list">
        <tbody>
          <% @schema[:samples].each do |sample| %>
            <tr><td><a href="/samples<%= sample %>"><%= sample.split('/').last %></td></tr>
          <% end %>
        </tbody>
      </table>
    </section>
    <% end %>

    <pre>
      <%= @schema.inspect %>
    </pre>
    <script>
      var expanders = document.getElementsByClassName('expander')
      for(var i = 0; i < expanders.length; i++) {
        expanders[i].addEventListener('click', function(e) {
          e.preventDefault();
          var expandId = this.getAttribute('data-expand');
          var toExpand = document.getElementsByClassName('for-' + expandId);
          var l = toExpand.length;
          for(var j = 0; j < l; j++) {
            if(toExpand[j].className.indexOf('shown') > -1) {
              toExpand[j].className = toExpand[j].className.replace(/shown/, '');
            } else {
              toExpand[j].className = toExpand[j].className + "shown";
            }
          }
          return false;
        });
      }
    </script>
  </body>
</html>
