<% if nesting == 0 %>
  <tr class="<%=cycle('even', 'odd')%> <%= binding_class(title) %>">
<% else %>
  <tr class="for-<%= nester %> indent-<%= nesting %> default-hide <%= binding_class(title) %>">
<% end %>
  <td class="name-col <% if field[:required]%>required<% end %>"><%= title %></td>
  <td class="type-col"><%= display_type(field, title) %></td>
  <td class="desc-col"><%= field[:description] %></td>
</tr>
<% if field[:type] == 'object' || field[:type] == 'array' && field[:items][:type] == 'object' %>
  <% get_fields(field).each do |child_title, child_field| %>
    <%= erb :row, :locals => {:title => child_title, :field => child_field, :nesting => nesting+1, :nester => title} %>
  <% end %>
<% end %>
